<html>
    <head>

    </head>
    <body>
        <button id="button1" onclick="get_spotify()"> authenticate </button>
    </body>

    <script>
        var code = null;
        var state = null;
        var error = null;
        var client_id = "5ef4bb85e1a9499593ac6a9477993c08";
        var client_secret = "e7fb20a797e54b88bfa34220d82b7d3d";
        var access_token = null;
        var token_type = null;
        var scope = null;
        var expires_in = null;
        var refresh_token = null;
        

        var generateRandomString = function(length) {
        var text = '';
        var possible = 'ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz0123456789';

        for (var i = 0; i < length; i++) {
            text += possible.charAt(Math.floor(Math.random() * possible.length));
        }
        return text;
        };
        
        function encode(d)
        {
            let v = [];
            for (let k in d)
                v.push(encodeURIComponent(k) + "=" + encodeURIComponent(d[k]));
            
            let ret = v[0];

            for (let i = 1; i < v.length; ++i)
            {
                ret = ret + "&" + v[i];
            }
            return ret;
        }

        function get_spotify()
        {
            let redirect = window.location.href;
            let q = {"response_type" : "code", "client_id" : "5ef4bb85e1a9499593ac6a9477993c08", 
                    "scope" : "user-read-private user-read-email", "redirect_uri" : redirect, state : generateRandomString(16)};
            let p = encode(q);
            window.location.replace("https://accounts.spotify.com/authorize?" + p);
        }

        function getToken()
        {
            const req = new XMLHttpRequest();
            let p = encode({"grant_type" : "authorization_code", "code" : code, "redirect_uri" : window.location.href });
            req.open("POST", "https://accounts.spotify.com/api/token", true);
            
            req.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
            req.setRequestHeader("Authorization", "Basic " + btoa( client_id + ":" + client_secret ));

            req.send(p);
        }

        function addPlaylist()
        {
            console.log(code);
            getToken();

        }
        
        function makeSpotifyRequest()
        {
            console.log(access_token);
        }

        function main()
        {
            let u = new URL(window.location.href);
            code = u.searchParams.get("code");
            error = u.searchParams.get("error");
            state = u.searchParams.get("state");
            access_token  = u.searchParams.get("access_token");
            token_type = u.searchParams.get("token_type");
            scope = u.searchParams.get("scope");
            expires_in = u.searchParams.get("expires_in");
            refresh_token = u .searchParams.get("refresh_token");

            if (code !== null)
            {
                console.log(code);
                let d = document.getElementById("button1");
                d.innerHTML = "get token";
                d.onclick = addPlaylist;
            }

            else if (access_token != null)
            {
                console.log(access_token);
                let d = document.getElementById("button1");
                d.innerHTML = "make spotify request";
                d.onclick = makeSpotifyRequest;
            }

            
        }

        main();

    </script>
</html>